body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #3A405A;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline;
    margin-right: 20px;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "left      center  right"
        "footer  footer  footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr .25fr;
    padding: 5px;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: #989797;
    color: white;
    padding: 10px;
}

.container .left-column {
    grid-area: left;
}

.container .right-column {
    grid-area: right;
}

.container .center-column {
    grid-area: center;
}

.left-column img, .right-column img {
    display: block;
    width: 120px;
    height: auto;
}

#music {
    margin-left: 35px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 150px;
}

#flower {
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 100px;
}

#safari {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 50px;
}

#bubble {
    margin-top: 140px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#trash {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 180px;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
  }  

.container .footer {
    grid-area: footer;
    background-color: #989797;
    color: white;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.app,
.app * {
  box-sizing: border-box;
}
.app {
  background: #3a405a;
  padding: 12px 10px 12px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  row-gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ellipse-2 {
  background: var(--accents-red, #ff383c);
  border-radius: 50%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.ellipse-3 {
  background: var(--accents-yellow, #ffcc00);
  border-radius: 50%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.ellipse-1 {
  background: var(--accents-green, #34c759);
  border-radius: 50%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.frame-4 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 728px;
  height: 484px;
  position: relative;
  overflow: hidden;
}
.frame-5 {
  flex-shrink: 0;
  width: 681px;
  height: 446px;
  position: absolute;
  left: 40px;
  top: 92px;
  overflow: hidden;
}


