body {
    font-family: Minecraft;
    font-size: 20px;
    margin: 0;
    background-color: #fefae0;
    cursor: default;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline;
    margin-right: 20px;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "left      center  right"
        "footer  footer  footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 1fr 100px;
    padding: 5px;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: #ccd5ae;
    color: white;
    padding: 10px;
    margin: 0;;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

#divider1 {
    width: 320px;
    height: 100;
    float: left;
}

#divider2 {
    width: 320px;
    height: 100;
    float: right;
}



.container .left-column {
    grid-area: left;
}

.container .right-column {
    grid-area: right;
}

.container .center-column {
    grid-area: center;
    position: relative;
}

.container .footer {
    grid-area: footer;
    background-color: #ccd5ae;
    color: white;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    text-align: center;
}

.icon {
    margin: 10px;
    text-align: center;
}

#mail{
    width: 120px;
    margin-left: 20px;
    
}
.left-column img, .right-column img {
    display: block;
    width: 120px;
    height: auto;
}

#music {
    margin-left: 35px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 150px;
}

#flower {
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
    width: 100px;
}

#safari {
    margin-left: 65px;
    margin-right: 30px;
    margin-top: 40px;
    width: 150px;
}

#bubble {
    margin-top: 140px;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 150px;
}

#trash {
    margin-left: 60px;
    margin-bottom: 20px;
    width: 240px;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    padding: auto;
}

button:focus {
    outline: none;
  }  

.hidden {
    display: none;
}

.app-popup {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.app,
.app * {
  box-sizing: border-box;
}
.app {
  background: #3a405a;
  padding: 12px 10px 12px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  row-gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ellipse-2 {
  background: var(--accents-red, #ff383c);
  border-radius: 50%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.ellipse-3 {
  background: var(--accents-yellow, #ffcc00);
  border-radius: 50%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.ellipse-1 {
  background: var(--accents-green, #34c759);
  border-radius: 50%;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
}
.frame-4 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 728px;
  height: 484px;
  position: relative;
  overflow: hidden;
}
.frame-5 {
  flex-shrink: 0;
  width: 681px;
  height: 446px;
  position: absolute;
  left: 40px;
  top: 92px;
  overflow: hidden;
}


